#app {
  /* position: absolute; */
  /* float: left; */
}

#root {
  /* position: absolute; */
  /* float: right; */
}

/* stylesheet from Alysa-FrontEnd */
.stars-outer {
  display: block;
  position: relative;
  float: left;
  margin-right: 5px;
}

.stars-outer::before {
  content: "☆☆☆☆☆";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  /* white-space: nowrap; */
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "★★★★★";
  color: rgb(235, 201, 11);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}